:root {
    --main-button-color: #BA966A;
    --main-button-color-hover: #71624B;
    --secondary-button-color: #D50032;
    --secondary-button-color-hover: #E5484D;
    --main-font-family: 'Kdam Thmor Pro', sans-serif;
}

header {
    border-bottom : solid;
    height: 5.6rem;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    font-size: 2rem;
}

.body-dark {
    background-color: black;
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 3.2rem;
    display: flex;
    align-items: center; 
    justify-content: center;
}

body {
    font-family: var(--main-font-family);
}

.withSideNav {
    margin: 0;
    display: flex;
    height: 100vh;
    flex-direction: row;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80%;
    width: 100%;
    padding-top: 5rem;
}

.main-dark {
    background-color: black;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 0.3rem;
}

input {
    font-size: 1rem;
    padding: 0.6rem;
    border: 0.05rem solid #ccc;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

input:focus {
    outline: none;
    background-color: rgb(245, 239, 239);
    border: 0.1rem solid black;
}

button {
    color: #fff;
    border: none;
    padding: 0.7rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    cursor: pointer;
}

button:focus {
    color: rgb(0, 0, 0);
    outline: 0.1rem solid rgb(100, 100, 100);
}

.passwordInput {
    width: 100%; 
    position: relative;
}

.password {
    width: 100%;
    box-sizing: border-box;
    height: 40px; 
    font-size: 16px;
}

.eye {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-80%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.primary-button {
    background-color: var(--main-button-color);
}

.primary-button:hover {
    background-color: var(--main-button-color-hover);
}

.danger-button {
    background-color: var(--secondary-button-color);
}

.danger-button:hover {
    background-color:  var(--secondary-button-color-hover);
}

.forgot-password {
    font-size: 0.9rem;
    color: blue;
    text-align: right;
    margin-bottom: 1rem;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.primary-container{
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 1.4rem 18rem;
    width: 40%;
}

.primary-container h2 {
    font-size: 1.5rem;
    margin-bottom: 1.3rem;
    text-align: center;
}

.secondary-container {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 1.25rem;
    width: 40%;
}

.secondary-container h2 {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    text-align: center;
}

.profil{
    display: flex;
    justify-content: center;
    text-align: center;
}

.logo-profil {
    width: 30%;
}

.delete-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1.25rem;
}

.errLoginUser {
    color : red;
    text-align: center;
    font-size: 0.8rem;
    display: none;
}

.errLoginPassword {
    color : red;
    text-align: center;
    font-size: 0.8rem;
    display: none;
}

input#username:invalid {
    border-color: red;
}

input#username:invalid ~ .errLoginUser {
    display: block;
}

input#password:invalid {
    border-color: red;
}

input#password:invalid ~ .errLoginPassword {
    display: block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00dd00;
}

input:checked + .slider:before{
  background-color: black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 800px){
    main {
        max-width: auto;
        margin-bottom: 20rem;  
        overflow-x: hidden;
    }
} 