.profil-container {
    background-color: #fdfdfd;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px 291px;
    width: 204px;
}

.profil-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.delete-button {
    background-color: #D50032;
    color: #fff;
    border: none;
    padding: 10px 50px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #E5484D;
}

.delete-section {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}